@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="mainFrame">
    <div class="text-center">
        <h1>ZaHaR 2.0</h1>
        <h3>Текст программы</h3>
        <form method="post">
            <textarea id="code" class = "codeStyle" name="code" rows="20" cols="100">@Model.CurrentProgramText</textarea><br>
            <input type="submit" value="Компилировать" class = "buttonStyle"><br>
        </form>
        <h3>Результат компиляции</h3>
        <textarea id="result" class = "codeStyle" name="result" rows="5" cols="100">@Model.CompileResult</textarea><br>
    </div>
</div>
